<h1 class="pageHeaderText">Our Firm</h1>
<p class="text-center">Some introductory text about Our Firm goes here.</p>
<div class="section" id="president">
    <div class="row">
        <div class="col-md-2"><img style="margin-top:20px" ng-src="images/firm/anja.png" /></div>
        <div class "col-md-8">
            <span class="text-left">
                <h4>Anja Graves, President</h4>
            <p>
                some text about Anja goes here, talking about career, resume, skills, accomplishments, schools, etc.
            </p>
            </span>
        </div>
        <div class="col-md-2"></div>

    </div>

</div>
<div class="section" id="chief">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4>Brad, Head of Government Relations</h4>

            <p>All kinds of text about Brad goes here</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-12 "><img ng-src="images/firm/brad.png" /></div>
    </div>
</div>
<div class="section" id="president">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="text-right">Iggy D Dog, Mascot</h4>

            <p>
                Iggy D. Dog has tons of experience in the industry in treat procurement, walk avoidance and sleep optimization. Prior to joining CHG, Mr. Dog was head of waste delivery inside residential properties in Reston, VA and Washington DC.
            </p>
        </div>
        <div class="col-md-2 vcenter"><img ng-src="images/firm/iggy.png" style="height:190px;width:auto;" /></div>
    </div>
</div>


<a href="https://trello.com/c/1kFzIsTe">Link to User Story</a>
