           <div class="row">
            <h4>Some introduction to CHG associates</h4>
           </div>
           <div class="row">
             <div ng-controller="MainCtrl as main" id="slides_control">
              <div>
               <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                  <img ng-src="{{slide.image}}" style="margin:auto;">
                  <div class="carousel-caption">
                    <h1>{{slide.text}}</h1>
                  </div>
                </slide>
              </carousel>
            </div>
          </div>
        </div>

